<%- include('../layouts/header.ejs', { titulo: ' - Lista de Movimentações' }) %>
<div class="produtos-container">
    <h2>Lista de Movimentações</h2>
    <a href="/movimentacoes/novo" class="botao-adicionar">Adicionar Movimentações</a>
    <form method="GET" action="/movimentacoes/listar" class="formulario-busca">
        <input type="text" name="busca" value="<%= busca || '' %>" placeholder="Buscar...">
        <button class="botao-buscar">Buscar</button>
    </form>
    <table border="1">
        <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Produto</th>
            <th>Quantidade Prod.</th>
            <th>Quantidade Mov.</th>
            <th>Ações</th>
        </tr>
        <% movimentacoes.forEach(m=>{ %>
            <tr>
                <td>
                    <%= new Date(m.data_cadastro).toLocaleDateString('pt-BR') %>
                </td>
                <td>
                    <%= m.tipo %>
                </td>
                <td>
                    <%= m.nome_produto %>
                </td>
                <td>
                    <%= m.qtde_produto %>
                </td>
                <td>
                    <%= m.quantidade %>
                </td>
                <td class="acoes">
                    <a href="/movimentacoes/editar/<%= m.id_mov %>" class="botao-editar">Editar</a>
                    <form method="POST" action="/movimentacoes/excluir/<%= m.id_mov %>" style="display:inline;">
                        <button type="submit" class="botao-excluir">Excluir</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
    <a href="/painel/listar" class="botao-voltar">Voltar</a>
</div>

<%- include('../layouts/footer.ejs') %>