<%- include('../layouts/header.ejs', { titulo: ' - Lista de Produtos' }) %>
<div class="produtos-container">
    <h2>Lista de Produtos</h2>
    <a href="/produtos/novo" class="botao-adicionar">Adicionar Produto</a>
    <form method="GET" action="/produtos/listar" class="formulario-busca">
        <input type="text" name="busca" value="<%= busca || '' %>" placeholder="Buscar...">
        <button class="botao-buscar">Buscar</button>
    </form>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Estoque Min</th>
            <th>Ações</th>
        </tr>
        <% produtos.forEach(p=>{ %>
            <tr>
                <td>
                    <%= p.nome_produto %>
                </td>
                <td>
                    <%= p.quantidade %>
                </td>
                <td>
                    <%= p.estoque_minimo %>
                </td>
                <td class="acoes">
                    <a href="/produtos/editar/<%= p.id_produto %>" class="botao-editar">Editar</a>
                    <form method="POST" action="/produtos/excluir/<%= p.id_produto %>" style="display:inline;">
                        <!-- <input type="hidden" name="id" value="<%= p.id %>"> -->
                        <button type="submit" class="botao-excluir">Excluir</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
    <a href="/painel/listar" class="botao-voltar">Voltar</a>
</div>

<%- include('../layouts/footer.ejs') %>